header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    background-color:wheat;
}

li {
    cursor: pointer;
    margin-left: 1rem;
    text-transform: uppercase;
    color:gray;
}